[Unit]
Description=SolarFertigation Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/sf-old/olddevelop/init_files
Type=forking
ExecStart=/bin/bash foreverStartup.sh 
User=pi

[Install]
WantedBy=multi-user.target
