[Unit]
Description=solarfertigation Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/newnewsfirmware/init_files
Type=forking
ExecStart=/bin/bash foreverStartup.sh 
User=pi

[Install]
WantedBy=multi-user.target
