[Unit]
Description=SolarFertigation WebServer
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/sf-old/gpio/sf-webserver/app.py

[Install]
WantedBy=multi-user.target
